{
  "profiles": [
    {
      "match": "*Xbox*",
      "buttons": {
        "304": "back",
        "305": "open",
        "310": "track-previous",
        "311": "track-next",
        "312": "seek-backward",
        "313": "seek-forward",
        "314": "select"
      },
      "axes": {
        "2": {
          "rest": "minimum",
          "positive": "seek-backward"
        },
        "5": {
          "rest": "minimum",
          "positive": "seek-forward"
        }
      },
      "button_labels": {
        "310": "LB",
        "311": "RB"
      },
      "axis_labels": {
        "2": {
          "positive": "LT"
        },
        "5": {
          "positive": "RT"
        }
      }
    }
  ]
}
